body {
	background-color: #320E0A;
	color: white;
}

a {
	color: white;
}

#photos img {
	border: 2px solid white;
}

#navigation {
	border-style: solid;
	border-color: white;
	border-width: 2px 0;
	background-color: #4B211D;
}
