body {
	background-color: #CEEAFF;
	color: black;
}

a {
	color: black;
}

#photos img {
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#navigation {
	border-style: solid;
	border-color: black;
	border-width: 2px 0;
	background-color: #A3CAE8;
}
