body {
	background-color: black;
	color: white;
}

a {
	color: white;
}

#photos {
	text-align: center;
}

#photos img {
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

#navigation {
	border-style: solid;
	border-color: #CCC;
	border-width: 2px 0;
	background-color: #222;
}
