body {
	background-color: #011800;
	color: white;
}

a {
	color: white;
}

#photos img {
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

#navigation {
	border-style: solid;
	border-color: white;
	border-width: 2px 0;
	background-color: #073104;
}
