body {
	background-color: #E0E4CC;
	color: black;
}

a {
	color: white;
}

td a {
	color: red;
}

#photos img, table img {
	border-style: solid;
	border-color: #222;
	border-width: 0 0 2px 2px;
}

#navigation {
	border-style: solid;
	border-color: #CCC;
	border-width: 2px 0;
	background-color: #222;
}
