body {
	background-color: #E0E4CC;
	color: black;
}

a {
	color: #542437;
}

.columns a {
	color: red;
}

#photos {
	text-align: center;
}

img {
	border-style: solid;
	border-color: #F38630;
	border-width: 2px;
	position:absolute; 
	TOP:35px; 
	LEFT:170px; 
	WIDTH:50px; 
	HEIGHT:50px
}

#navigation {
	border-style: solid;
	border-color: #FA6900;
	border-width: 2px 0;
	background-color: #A7DBD8
}
