<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Purrusalda &mdash; {{ page.title }} &mdash; Pinchos y tapas Vegetarianas</title>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="stylesheet" href="color.css" type="text/css" />
</head>

<body>
<div id="spacer"><!-- necessary for vertical centering --></div>

{{ content }}

<div id="navigation">
<h1 id="exolucere"><a href="/">Purrusalda.es</a></h1>
<ul>
<li {{ page.is_title  }}>&nbsp;</li>
<li {{ page.about     }}><a href="/about/">Sobre nosotros</a></li>
<li {{ page.action    }}><a href="/action/">Action</a></li>
<li {{ page.alone     }}><a href="/alone/">Alone</a></li>
<li {{ page.forgotten }}><a href="/forgotten/">Forgotten</a></li>
<li {{ page.life      }}><a href="/life/">Life</a></li>
<li {{ page.panoramas }}><a href="/panoramas/">Panoramas</a></li>
<li {{ page.people    }}><a href="/people/">People</a></li>
<li {{ page.places    }}><a href="/places/">Places</a></li>
<li {{ page.rembrandt }}><a href="/rembrandt/">Rembrandt</a></li>
</ul>
</div>

<div id="buy_a_print">
<div id="FotomotoToolbar"></div>
<script type="text/javascript" src="http://widget.fotomoto.com/stores/script/5db2697e224a0aee03235271bfc2ae570447a322.js"></script>
<noscript><a href="http://my.fotomoto.com/store/5db2697e224a0aee03235271bfc2ae570447a322" target="_blank">Buy a print</a></noscript>
</div>

<div id="footer">
<p id="copyright">&copy; 2012 <a href="mailto:deva@brunosan.eu">Deva Sánchez Nuño</a>. Todos los derechos reservados.</p>
</div>

</body>
</html>
